In [1]:
import pandas as pd

In [2]:
#getting the dataset information
df_info = pd.read_csv('ml-100k/u.info',sep='\t', header=None,index_col=False)

In [3]:
df_info

                0
0       943 users
1      1682 items
2  100000 ratings

In [4]:
column_names = ['user_id', 'item_id','rating','timestamp']

In [5]:
df = pd.read_csv('ml-100k/u.data',sep='\t',names=column_names)

In [6]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [7]:
df.shape

(100000, 4)

In [8]:
tf = pd.read_csv('ml-100k/u.item',sep='|',header=None)

In [9]:
tf.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
genre_list = pd.read_csv('ml-100k/u.genre',sep='|',header=None)

In [11]:
genre_list.head()

            0  1
0     unknown  0
1      Action  1
2   Adventure  2
3   Animation  3
4  Children's  4

In [12]:
genre_list

              0   1
0       unknown   0
1        Action   1
2     Adventure   2
3     Animation   3
4    Children's   4
5        Comedy   5
6         Crime   6
7   Documentary   7
8         Drama   8
9       Fantasy   9
10    Film-Noir  10
11       Horror  11
12      Musical  12
13      Mystery  13
14      Romance  14
15       Sci-Fi  15
16     Thriller  16
17          War  17
18      Western  18

In [13]:
genre_list.tolist

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [15]:
genre_list[0].tolist()

['unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']